.product-container{
    /* padding-left: 100px; 
    width: 300px;
    left: 700px;
    top: 250px; */
    object-position: top 0 right 18px;
}
.img-large{
    width: 500px;
}
.product-price{
    color: black;
}
.stock-status{
    color: black;
}
.product-description{
    color: black;
}
