.Login-form {
  text-align: center;
  background-color: #ebbcb5;
  justify-content: center;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.username-container{
  margin-bottom: 20px;
  margin-right: 8px;
  color: white;
  position: relative;
  bottom: -50px;
}

.form-input{
  margin-left: 10px;
}

.password-container{
  margin-bottom: 20px;
  color: white;
  position: relative;
  bottom: -60px;
}

.login-container, .redirect-user{
  position: relative;
  bottom: -150px;
}

.redirect-link{
  color: rgb(31, 51, 235);
}