:root {
  /* Our color scheme. To use color, use var(--color) */
  --terraCotta: #e26d5a;
  --grannySmithApple: #b2ef9b;
  --skyBlueCrayola: #65def1;
  --magnolia: #f8f1ff;
  --davysGrey: #5b5b5b;
  --white: #ffffff;
  --black: #000000;
  --blue: #1652f0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #f8f1ff;
}
header a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
main {
  padding-top: 13%;
}

.products {
  display: vertical;
  margin: auto;
  padding-left: 35%;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.main-logo {
  width: 180px;
  position: relative;
  left: 44%;
}

.home-logo {
  width: 180px;
  position: relative;
  margin-left: auto;
  left: 44%;
}

header {
  background-color: var(--magnolia);
  left: 0px;
  width: 100vw;
  position: fixed;
  padding: 3px;
  top: 0px;
}

#welcome {
  font-family: 'Hurricane', cursive;
  font-size: 30px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -5px;
  left: 16px;
  padding-top: 0%;
}

/* ---Home & Search--- */
.home-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 20px;
  /* border: 3px solid green; */
}

.main-nav-button {
  background-color: var(--magnolia);
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: content-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 19px;
  line-height: 29px;
  padding: 0 16px 0 17px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.main-nav-button:hover {
  background-color: #f7fafa;
}

.main-nav-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.cart-img,
.wish-img {
  width: 25px;
  height: 20px;
  transition: all 0.2s ease;
  padding-right: 5px;
  position: relative;
  top: 5px;
  left: 0px;
}
.account-img {
  width: 30px;
  height: 25px;
  transition: all 0.2s ease;
  padding-right: 5px;
  position: relative;
  top: 5px;
  left: 0px;
}

.other-buttons-container {
  position: fixed;
  top: 0;
  padding-left: 70%;
}
.other-buttons-container a {
  transition: all 0.5s ease;
  padding: 10px;
}

.other-buttons-container:hover {
  color: #24262b;
}
.home-img {
  width: 30px;
  height: 30px;
}

/* --- FOOTER CONTENT --- */
footer* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding-left: 10%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--magnolia);
  padding: 70px 0;
  bottom: 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  position: relative;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bolder;
  position: relative;
}
.footer-col h4::before {
  content: '_______________';
  position: absolute;
  left: 15;
  bottom: -10px;
  /* background-color: red; */
  box-sizing: border-box;
  width: 50px;
  cursor: text;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--black);
  padding-left: 10px;
  font-weight: bolder;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--white);
}

footer {
  background-color: var(--magnolia);
  position: relative;
  padding: 3px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 15px;
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.company {
  margin: auto;
}
.help {
  margin: auto;
}
.follow-us {
  margin: auto;
}

#about {
  margin-top: 50%;
  position: relative;
}

#copyright {
  bottom: 0;
  left: 0;
  position: absolute;
}

#account {
  padding: 50px;
}

#help {
  padding: 50px;
}

#follow-us {
  padding: 10px;
}
/* --- FOOTER CONTENT END--- */

.home-img,
.search-img {
  transition: all 0.2s ease;
  padding-right: 5px;
  width: 30px;
  height: 25px;
  position: relative;
  top: 0px;
}

.home-img:hover {
  background-color: var(--white);
  transform: scale(0.8) perspective(1px);
  color: #24262b;
}
.search-img:hover {
  background-color: var(--white);
  transform: scale(0.8) perspective(1px);
  color: #24262b;
}
.cart-img:hover {
  background-color: var(--magnolia);
  transform: scale(1.2) perspective(1px);
}
.account-img:hover {
  background-color: var(--magnolia);
  transform: scale(1.2) perspective(1px);
}
.wish-img:hover {
  background-color: var(--magnolia);
  transform: scale(1.2) perspective(1px);
}

.search-img:hover {
  background-color: var(--white);
  border-radius: 100px 100px;
  padding: 5px;
  color: #24262b;
}

a:hover {
  color: red;
}

a:link {
  color: var(--gray);
  text-decoration: none;
}

@media (max-width: 1200px) {
  a:link::after {
    content: '';
  }
}

/* ---SIGNUP & LOGIN--- */
.login-signup-container {
  position: fixed;
  top: 0;
  right: 10px;
}
.login-signup-button {
  background-color: var(--magnolia);
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* vertical-align: middle; */
  width: 100px;
}

.login-signup-button:hover {
  background-color: #f7fafa;
}

.login-signup-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
/* ---SIGNUP & LOGIN END--- */

.img-thumbnail {
  height: 80px;
  width: 80px;
}

.pageTitle {
  font-family: 'Hurricane', cursive;
  font-size: 65px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 10px;
}

/* ---CHECKOUT STEPS--- */

.checkout-steps > div {
  border-bottom: 0.2rem solid #5b5b5b;
  color: #5b5b5b;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #b2ef9b;
  color: black;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

.btn-primary,
.btn-outline-primary {
  background-color: var(--terraCotta);
  color: #000000;
}

.text-bold {
  font-weight: bold;
}
